[Unit]
Description=Platform Python to support Panduza Meta Drivers
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/pza-py-platform-run.py

[Install]
WantedBy=multi-user.target
